<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"></link>
<script src="{{ url_for('static', filename='main.js')}}"></script>
<div id="main-content">
    <div id="header">
        This div is the header lol check it out
    </div>

    <div id="sidebar">
        <h3>this div is like the side bar where you can like, pick stuff</h3>
        <ul id="categories">

        </ul>
    </div>

    <div id="main-section">
        <h3>results in this div. lol</h3>
        <div id=questions></div>
    </div>
</div>
